
.App {
    padding: 0 2rem;
}

.header {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
}
.link {
  background-color: #f0f0f0;
  flex: 1;
  min-height: 9rem;
  padding: 2rem 1rem;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 1.2rem;
  color: #333;
  border-radius: 10px;
}
.link:hover {
  background-color: #e0e0e0;
}